/*
    Layout designer https://grid.layoutit.com/?id=8rEb4Nf
*/

.blg-grid-container {
    display: grid;
    grid-template-columns: minmax(20px, 2fr) 6fr minmax(20px, 2fr);
    grid-template-rows: 1em 4em 1fr 5em 1em;
    grid-template-areas: ". . ." "blg-top-left blg-top-center blg-top-right" "blg-center-left blg-center blg-center-right" "blg-center-left blg-bottom-center blg-center-right" ". . .";
    height: 100vh;
    width: 100vw;
}

.blg-top-right {
    grid-area: blg-top-right;
}

.blg-bottom-left {
    grid-area: blg-bottom-left;
}

.blg-top-left {
    grid-area: blg-top-left;
}

.blg-top-center {
    grid-area: blg-top-center;
}

.blg-center-left {
    grid-area: blg-center-left;
}

.blg-center {
    grid-area: blg-center;
}

.blg-center-right {
    grid-area: blg-center-right;
}

.blg-bottom-center {
    grid-area: blg-bottom-center;
}

.blg-bottom-right {
    grid-area: blg-bottom-right;
}

/*
<div class="blg-grid-container">
  <div class="blg-top-right"></div>
  <div class="blg-bottom-left"></div>
  <div class="blg-top-left"></div>
  <div class="blg-top-center"></div>
  <div class="blg-center-left"></div>
  <div class="blg-center"></div>
  <div class="blg-center-right"></div>
  <div class="blg-bottom-center"></div>
  <div class="blg-bottom-right"></div>
</div>
*/