@page "/"
@namespace server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>server</title>
	<base href="~/" />
	<link href="css/loader.css" rel="stylesheet" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <app>
        <div class="loader-container">
            <div class="loader"></div>
            <div class="loader-logo">
                Blazored<span>Gitter</span>.SSE
            </div>
        </div>
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
