@inherits ChatRoomListBase

@if (HasRooms)
{
    <div class="chat-room-list">
        <h3 class="chat-room-list__heading">My Rooms</h3>
        <ul class="chat-room-list__list">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            @if (State?.HasChatRooms ?? false)
            {
                @foreach (IChatRoom Room in State.GetMyRooms().OrderByDescending(r => r.LastAccessTime))
                {
                    <li class="chat-room-list__list-item">
                        <NavLink class="chat-room-list__link" href=@($"/room/{Room.Id}")>
                            <img src="@Room.AvatarUrl" />
                            @Room.Name
                            @if (Room.UnreadItems > 0)
                            {
                                <span class="chat-room-list__unread-items">@Room.UnreadItems</span>
                            }
                        </NavLink>
                    </li>
                }
            }
        </ul>
    </div>
}