@inherits MainLayoutModel

<BlazorEmbedLibrary.EmbeddedContent Assemblies="@AssemblyList" Debug="true"/>

@if (State.Initialised)
{
    <Navbar />

    <div class="wrapper">
        <aside class="wrapper__left-menu">
            <ChatRoomList />
        </aside>
        <main class="wrapper__content">
            @Body
        </main>
    </div>
}
else
{
    <div class="loader-container">
        <div class="loader"></div>
        <div class="loader-logo">
            Attempting Login...
        </div>
    </div>
}
