@using Blazor.Gitter.Library
@inherits NavbarBase

    <div class="navbar">

        <div class="navbar__menu" @onclick="ToggleMenu">
            <i class="fas fa-bars"></i>
        </div>

        <NavLink class="navbar__brand" href="/">
            <span class="navbar__logo">Blazored<span>Gitter</span></span>
        </NavLink>

        @if (State?.HasChatUser ?? false)
        {
            IChatUser chatUser = State.GetMyUser();

            <div class="navbar__user">
                <img src="@chatUser.AvatarUrlMedium" />
            </div>
        }

    </div>
