@inherits RoomMessagesBase

<div id="blgmessagelist" class="chat-room-messages" onscroll="@MessagesScrolled">
	@if (Messages is object)
	{
		<div class="chat-room-messages__list">
			@foreach (var message in Messages.OrderBy(m => m.Sent))
			{
				<Message MessageData="@message" UserId="@UserId" />
			}

		</div>
	}
</div>
