@inherits RoomTitleBase

<div class="chat-room__title">
	<img class="chat-room__logo" src="@ChatRoom.AvatarUrl" width="48" height="48" />
	<h3 class="chat-room__heading">@ChatRoom.Name</h3>
	<small class="chat-room__topic">@ChatRoom.Topic</small>
</div>
