@inherits RoomMessagesBase
<div id="blgmessagelist" class="chat-room-messages @((Paused ? "chat-room-messages--paused" : ""))" @onscroll="MessagesScrolled">
    @if (LoadingMessages)
    {
        <div class="loader-container">
            <div class="loader"></div>
            <div class="loader-logo">
                Loading Messages...
            </div>
        </div>
    }
    else
    {

        @if (Messages is object)
        {
            <div class="chat-room-messages__list">
                @foreach (var message in Messages.Where(m => (MessageFilter.FilterUnread == false) || (m.Unread == true) ).OrderBy(m => m.Sent))
                {
                    <Message @key="message" MessageData="@message" UserId="@UserId" RoomId="@ChatRoom.Id"/>
                }
            </div>
        }

    }
</div>