@inherits RoomUserSearchResultsBase

@if (IsVisible)
{
    <div class="chat-room__roomusersearchresults">
        @foreach (var item in Results)
        {
            <div>@item.DisplayName <small>@@@item.Username</small></div>
        }
    </div>
}
