@inherits RoomMessagesBase
<div id="blgmessagelist" class="chat-room-messages@((Paused ? "--paused" : ""))" onscroll="@MessagesScrolled">
    @if (LoadingMessages)
    {
        <div class="loader-container">
            <div class="loader"></div>
            <div class="loader-logo">
                Searching...
            </div>
        </div>
    }
    else
    {

        @if (Messages is object)
        {
            <div class="chat-room-messages__list">
                @foreach (var message in FilteredAndOrderedMessages())
                {
                    <Message MessageData="@message" UserId="@UserId" RoomId="@ChatRoom.Id"/>
                }
            </div>
        }

    }
</div>