.chat-room__send-message-form {
    position: sticky;
    bottom: 0;
    padding: 0;
    background-color: $background-darker;
    display: flex;
    align-items: center;
}

.chat-room__send-message-avatar {
    display: none;
    margin-right: 1rem;
    border-radius: .5rem;
}

.chat-room__send-message {
    flex: 1;
    background-color: $background-darker;
    padding: 1rem;
    box-shadow: none;
    border: 0;
    outline: none;
    border-radius: .5rem;
    color: $text;
    transition: height 0.3s ease-out;
    max-height: 50vh;
}

.chat-room__send-message--sh-2 {
    @extend .chat-room__send-message;
    min-height: 5.44rem;
}

.chat-room__send-message--sh-3 {
    @extend .chat-room__send-message;
    min-height: 7.44rem;
}

.chat-room__send-message--sh-4 {
    @extend .chat-room__send-message;
    min-height: 9.44rem;
}

.chat-room__send-message--sh-5 {
    @extend .chat-room__send-message;
    min-height: 11.44rem;
}

.chat-room__send-message--sh-6 {
    @extend .chat-room__send-message;
    min-height: 13.44rem;
}

.chat-room__send-message--sh-7 {
    @extend .chat-room__send-message;
    min-height: 15.44rem;
}

.chat-room__send-message--sh-8 {
    @extend .chat-room__send-message;
    min-height: 17.44rem;
}

.chat-room__send-message--sh-9 {
    @extend .chat-room__send-message;
    min-height: 19.44rem;
}

.chat-room__send-message--sh-10 {
    @extend .chat-room__send-message;
    min-height: 21.44rem;
}

.chat-room__send-button {
    border: none;
    background-color: $accent;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    color: $text;

    &:hover {
        background-color: darken($accent, 5%);
    }
}

.chat-room__filter-button {
    position: fixed;
    top: 140px;
    right: 20px;
    color: $accent;
    background: #000;
    border-radius: 4rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border: 2px solid #ff6600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
    }
}

.chat-room__filter-button--active {
    @extend .chat-room__filter-button;
    background-color: $accent;
    color: #000;
}
