.chat-room__filter-button {
    color: $text;
    align-self: flex-start;
    border-radius: .5rem;
    cursor: pointer;
    color: $accent;
    border: 1px solid $accent;
    background-color: transparent;
 
    &:hover {
        color: darken($accent, 5%);
        border-color: darken($accent, 5%);
    }

}

.chat-room__filter-button--active {
    @extend .chat-room__filter-button;
    background-color: darken($accent, 5%);
    color: $text;

    &:hover {
        color: darken($accent, 5%);
        border-color: darken($accent, 5%);
        background-color: darken($accent, 10%);
    }
}
