.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $background-darkest;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    cursor: pointer;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.navbar__brand {
    text-decoration: none;
}

.navbar__logo {
    color: $text;
    font-size: $font-size-large;
    

    span {
        color: $accent;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }
}

.navbar__mode {
    color: $text-dark;
}

.navbar__user {
    line-height: 0;

    img {
        width: 32px;
        border-radius: .5rem;
    }
}