@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$font-family-text: 'Poppins', sans-serif;

$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-bold: 600;

$font-size-default: 1.6em;
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

$line-height-default: 2 !default;
$letter-spacing-default: .01em;

$h1-font-size: $font-size-default * 2.5;
$h2-font-size: $font-size-default * 2;
$h3-font-size: $font-size-default * 1.75;
$h4-font-size: $font-size-default * 1.5;
$h5-font-size: $font-size-default * 1.25;
$h6-font-size: $font-size-default;

/* Colours */
$background: #2D2D2D;
$background-lighter: #5E5F60;
$background-darker: #212222;
$background-darkest: #0B0B0B;
$text: #F0F2F3;
$text-dimmed: #969696;
$text-dark: #626263;
$accent: #FF6600;