*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: $text;
    background-color: $background;
    font-family: $font-family-text;
    font-size: $font-size-default;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-default;
    line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-light;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $accent;

    &:hover {
        color: darken($accent, 5%);
    }
}
