.login {
    display: flex;
    flex-direction: column;
    background-color: $background-darker;
    padding: 3rem;
    border-radius: .5rem;
    width: 30vw;
}

.login__heading {
    margin: 0 0 3rem 0;
    font-weight: $font-weight-light;
    line-height: initial;
}

.login__input {
    margin-bottom: 2rem;
    line-height: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
}

.login__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login__button {
    flex: 1;
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.login__button--primary {
    background-color: $accent;
    color: $text;

    &:hover {
        background-color: darken($accent, 5%);
    }
}

.login__button--secondary {
    color: $accent;
    border: 1px solid $accent;
    background-color: transparent;
    margin-right: 0;

    &:hover {
        color: darken($accent, 5%);
        border-color: darken($accent, 5%);
    }
}
